navbar
.main
  .container
    .col-md-12.col-sm-12
      .content-page
          sidebar 
          div(class="content col-md-9 col-sm-9")
            h1 Get Started
            p  Our CloudKibo Application stores the data in database developed using MongoDB.Your application will fetch user data from CloudKibo without directly accessing the mongo dB database and will use REST APIs
            p  Your application first need to obtain a token containing ApplicationID and Secret Key from CloudKibo. Once authenticated,Application's front end or back end can request our services using a Rest API.
            h3 Architecture Diagram
            img(src = 'app/getstarted/img/dataflow.png')
                     

footer
