navbar
.main
    .container
        .row.margin-bottom-40
            .col-md-12.col-sm-12
                h1 Features
                .content-page
                    .row
                        .col-md-7
                            .row.margin-bottom-20
                                .col-md-6
                                    .service-box-v1
                                        div
                                            i.fa.fa-globe.color-grey
                                            h2 Collaboration Made Easy
                                            p
                                                | CloudKibo is a next generation communication technology. It’s intuitive, cost effective,
                                                | and rich with functionality. It can be used both for internal and external communications.
                                                | It provides integrated and unified communication across web, voice, video, and data.
                                .col-md-6
                                    .service-box-v1
                                        div
                                            i.fa.fa-users.color-grey
                                            h2 A Complete Video Collaboration Solution
                                            p
                                                | CloudKibo allows you to invite multiple people to join the Web meeting.
                                                | Your participants do not need to install complex software before the meeting,
                                                | all they need to do is click on a URL and join the meeting.
                            .row.margin-bottom-20
                                .col-md-6
                                    .service-box-v1
                                        div
                                            i.fa.fa-cloud.color-grey
                                            h2 No Downloads, No Plugins required
                                            p
                                                | Downloading, installing, and updating plugins can be complex, error prone, and
                                                | annoying. With CloudKibo you are able to join the call straight from your browser
                                                | without any need to download and install client software. Plugins can be difficult
                                                | to deploy, debug, troubleshoot, test and maintain and may require licensing and
                                                | integration with complex, expensive technology.
                                .col-md-6
                                    .service-box-v1
                                        div
                                            i.fa.fa-desktop.color-grey
                                            h2 Screen Sharing
                                            p
                                                | CloudKibo lets you share your weekly project status, share your weekly sales slides, edit
                                                | final copy before releasing your deck, collect feedback on the latest design rendering,
                                                | and makes sharing a screen easy as clicking the “Share Screen” button.
                            .row.margin-bottom-20
                                .col-md-6
                                    .service-box-v1
                                        div
                                            i.fa.fa-share.color-grey
                                            h2 File Transfer
                                            p
                                                | CloudKibo makes it simple for you or anyone in your call to instantly share notes,
                                                | documents, videos, or any kind of files. File transfer is highly secured. All file transfers
                                                | are peer to peer with 128 Bit encryption. Current email systems normally limit your
                                                | attachments to 25MB and multiple copies of your files are left on the mail servers.
                                .col-md-6
                                    .service-box-v1
                                        div
                                            i.fa.fa-android.color-grey
                                            i.fa.fa-apple.color-grey
                                            h2 Support
                                            p
                                                | Cloudkibo is also supported by Google chrome and Firefox. Soon Cloudkibo will launch its Android and iOS application
                            .row.margin-bottom-20
                        //
                          .col-md-5
                          //iframe(src="//player.vimeo.com/video/94386848?portrait=0", height='270', style='width:100%; border:0;', frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen, class='margin-bottom-10')
                    .row.quote-v1.margin-bottom-30
                        .col-md-9
                            span Make Your FREE Account Now!
                        .col-md-3.text-right
                            a.btn-transparent(href='#register')
                                i.fa.fa-check.margin-right-10
                                | Register
footer
