navbar
.main
  .container
    .col-md-12.col-sm-12
      .content-page
          sidebar 
          div(class="content col-md-9 col-sm-9")
            h1 How to Setup Meeting
            p  Below code snippet will help you in getting and setting conference webhook on CloudKibo
            p  Please note that sample codes provided are written in NodeJS
            
            h3 Step 1 : Define header containing your token
            pre
                code
                         | var  headers =  {
                         | 'kibo-app-id'    : 'your kibo-app-id',
                         | 'kibo-app-secret': 'your kibo-app-secret',
                         | 'kibo-client-id' : 'your client-id',
                         | 'content-type'   : 'application/x-www-form-urlencoded'
                         |     }
            h3 Code to Get Conference Webhook
                pre
                    code
                         |                         
                         |router.get('/webhook', function(req, res, next) {
                         | var options = {
                         | url: 'https://api.cloudkibo.com/api/companyaccounts/',
                         | headers:headers,
                         | rejectUnauthorized : false,
                         | form:{ 'companyid': headers['kibo-client-id']}
                         |   };
                         |   function callback(error, response, body) {
                         |     if (!error && response.statusCode == 200) {
                         |           var info = JSON.parse(body);
                         |           res.render('conferencewebhook',{mydata:info.company});
                         |     }
                         |     else
                         |       {
                         |         data = null;
                         |         console.log(error);
                         |         res.send('could not fetch data.');
                         |       }
                         |    }
                         |  request.post(options, callback);
                         |});


            h3 Code to Update Conference Webhook
            p  Our REST API 'https://api.cloudkibo.com/api/companyaccounts/webhook' requires following parameters
            b Parameters :
            span companyid,webhook            
            b Response   :
            span {status:'Updated webhook'}
            pre
                    code
                         |router.get('/webhook', function(req, res, next) {                       
                         |var options = {
                         |       url: 'https://api.cloudkibo.com/api/companyaccounts/webhook',
                         |       headers:headers,
                         |       rejectUnauthorized : false,
                         |       form:{'companyid':headers['kibo-client-id'],'webhook':req.body.newwebhook}
                         |       };
                         |   function callback(error, response, body) {
                         |           if (!error && response.statusCode == 200) {
                         |                 var info = JSON.parse(body);
                         |                 console.log(info);  
                         |                 res.render('conferencewebhook',{mydata:{'companyid':headers['kibo-client-id'],'companyname':req.body.companyname,'webhook':req.body.newwebhook}});
                         |               }
                         |           else
                         |             {
                         |               data = null;
                         |               console.log(error);
                         |               res.send('could not fetch data.');
                         |              }
                         |          }
                         |         request.post(options, callback);
                         |      });
            
footer
