navbar
.page-slider.margin-bottom-40
  .fullwidthbanner-container.revolution-slider
    .fullwidthabnner
      ul#revolutionul
        // THE NEW SLIDE
        li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
          // THE MAIN IMAGE IN THE FIRST SLIDE
          img(src='/assets/frontend/pages/img/revolutionslider/bg9.jpg', alt='')
          .caption.lft.slide_title_white.slide_item_left(data-x='30', data-y='90', data-speed='400', data-start='1500', data-easing='easeOutExpo')
            | Explore the power
            br
            span.slide_title_white_bold of CloudKibo
          .caption.lft.slide_subtitle_white.slide_item_left(data-x='87', data-y='245', data-speed='400', data-start='2000', data-easing='easeOutExpo')
            | Collaboration Made Easy
          //a.caption.lft.btn.dark.slide_btn.slide_item_left(href='https://api.cloudkibo.com/#/signup', data-x='187', data-y='315', data-speed='400', data-start='3000', data-easing='easeOutExpo')
            | Sign up Now!
          .caption.lfb(data-x='640', data-y='0', data-speed='700', data-start='1000', data-easing='easeOutExpo')
            img(src='/assets/frontend/pages/img/revolutionslider/lady.png', alt='Image 1')
        // THE FIRST SLIDE
        li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
          // THE MAIN IMAGE IN THE FIRST SLIDE
          img(src='/assets/frontend/pages/img/revolutionslider/bg1.jpg', alt='')
          .caption.lft.slide_title.slide_item_left(data-x='30', data-y='105', data-speed='400', data-start='1500', data-easing='easeOutExpo')
            | Video Collaboration
          .caption.lft.slide_subtitle.slide_item_left(data-x='30', data-y='180', data-speed='400', data-start='2000', data-easing='easeOutExpo')
            | Connect in seconds
          .caption.lft.slide_desc.slide_item_left(data-x='30', data-y='220', data-speed='400', data-start='2500', data-easing='easeOutExpo')
            | A complete video conferencing solution
            br
            | in a web application
          a.caption.lft.btn.green.slide_btn.slide_item_left(href='http://www.cloudkibo.com/features', data-y='290', data-speed='400', data-start='3000', data-easing='easeOutExpo')
            | Take a tour
          .caption.lfb(data-x='640', data-y='55', data-speed='700', data-start='1000', data-easing='easeOutExpo')
            img(src='/assets/frontend/pages/img/revolutionslider/man-winner.png', alt='Image 1')
        // THE SECOND SLIDE
        //li(data-transition='fade', data-slotamount='7', data-masterspeed='300', data-delay='9400', data-thumb='/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
          img(src='/assets/frontend/pages/img/revolutionslider/bg2.jpg', alt='')
          .caption.lfl.slide_title.slide_item_left(data-x='30', data-y='125', data-speed='400', data-start='3500', data-easing='easeOutExpo')
            | Powerfull & Clean
          .caption.lfl.slide_subtitle.slide_item_left(data-x='30', data-y='200', data-speed='400', data-start='4000', data-easing='easeOutExpo')
            | Responsive Admin & Website Theme
          .caption.lfl.slide_desc.slide_item_left(data-x='30', data-y='245', data-speed='400', data-start='4500', data-easing='easeOutExpo')
            | Lorem ipsum dolor sit amet, consectetuer elit sed diam
            br
            |  nonummy amet euismod dolore.
          .caption.lfr.slide_item_right(data-x='635', data-y='105', data-speed='1200', data-start='1500', data-easing='easeOutBack')
            img(src='/assets/frontend/pages/img/revolutionslider/mac.png', alt='Image 1')
          .caption.lfr.slide_item_right(data-x='580', data-y='245', data-speed='1200', data-start='2000', data-easing='easeOutBack')
            img(src='/assets/frontend/pages/img/revolutionslider/ipad.png', alt='Image 1')
          .caption.lfr.slide_item_right(data-x='735', data-y='290', data-speed='1200', data-start='2500', data-easing='easeOutBack')
            img(src='/assets/frontend/pages/img/revolutionslider/iphone.png', alt='Image 1')
          .caption.lfr.slide_item_right(data-x='835', data-y='230', data-speed='1200', data-start='3000', data-easing='easeOutBack')
            img(src='/assets/frontend/pages/img/revolutionslider/macbook.png', alt='Image 1')
          .caption.lft.slide_item_right(data-x='865', data-y='45', data-speed='500', data-start='5000', data-easing='easeOutBack')
            img#rev-hint1(src='/assets/frontend/pages/img/revolutionslider/hint1-red.png', alt='Image 1')
          .caption.lfb.slide_item_right(data-x='355', data-y='355', data-speed='500', data-start='5500', data-easing='easeOutBack')
            img#rev-hint2(src='/assets/frontend/pages/img/revolutionslider/hint2-red.png', alt='Image 1')
        // THE THIRD SLIDE
        li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
          img(src='/assets/frontend/pages/img/revolutionslider/bg3.jpg', alt='')
          .caption.lfr.slide_title(data-x='470', data-y='100', data-speed='400', data-start='2000', data-easing='easeOutExpo')
            | Screen Sharing
          .caption.lfr.slide_subtitle(data-x='470', data-y='170', data-speed='400', data-start='2500', data-easing='easeOutExpo')
            | Inside your browser
          .caption.lfr.slide_desc(data-x='470', data-y='220', data-speed='400', data-start='3000', data-easing='easeOutExpo')
            | You can share your screen with your partner in a call
            br
            | Screen can also be shared in a video conference
          //a.caption.lfr.btn.yellow.slide_btn(href='', data-x='470', data-y='280', data-speed='400', data-start='3500', data-easing='easeOutExpo')
             | Join call widget now!
        // THE FORTH SLIDE
        li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
          // THE MAIN IMAGE IN THE FIRST SLIDE
          img(src='/assets/frontend/pages/img/revolutionslider/bg4.jpg', alt='')
          .caption.lft.slide_title(data-x='30', data-y='105', data-speed='400', data-start='1500', data-easing='easeOutExpo')
            | File Transfer
          .caption.lft.slide_subtitle(data-x='30', data-y='180', data-speed='400', data-start='2000', data-easing='easeOutExpo')
            | No Size Limit
          .caption.lft.slide_desc(data-x='30', data-y='225', data-speed='400', data-start='2500', data-easing='easeOutExpo')
            | You can transfer your files with a partner in a call
            br
            | There is no file size limit. Transfer Big Files!
          //a.caption.lft.slide_btn.btn.red.slide_item_left(href='https://www.kibosupport.com/features', target='_blank', data-x='30', data-y='300', data-speed='400', data-start='3000', data-easing='easeOutExpo')
             | Learn More!
          .caption.lft.start(data-x='670', data-y='55', data-speed='400', data-start='2000', data-easing='easeOutBack')
            img(src='/assets/frontend/pages/img/revolutionslider/iphone_left.png', alt='Image 2')
          .caption.lft.start(data-x='850', data-y='55', data-speed='400', data-start='2400', data-easing='easeOutBack')
            img(src='/assets/frontend/pages/img/revolutionslider/iphone_right.png', alt='Image 3')
      .tp-bannertimer.tp-bottom
// END SLIDER
.main
  .container
    div(class='row service-box margin-bottom-40')
      div(class='col-md-4 col-sm-4')
        .service-box-heading
          em
            i(class='fa fa-video-camera blue')
          span Video/Audio Chat
        p CloudKibo lets you invite your friend with a click of a button into a call. Don’t get tied down to a clumsy keypad and cryptic codes to control and manage your calls.
      div(class='col-md-4 col-sm-4')
        .service-box-heading
          em
            i(class='fa fa-desktop blue')
          span Screen Sharing
        p CloudKibo lets you share your weekly project status, share your weekly sales slides, collect feedback on the latest design rendering, and makes sharing a screen easy as clicking the “Share Screen” button.
      div(class='col-md-4 col-sm-4')
        .service-box-heading
          em
            i(class='fa fa-share blue')
          span File Transferring
        p CloudKibo makes it simple for you or anyone in your call to instantly share notes, documents, videos, or any other file. File transfer is highly secured. All file transfers are peer to peer with 128 Bit encryption.
      div(class='col-md-4 col-sm-4 col-md-offset-2')
        .service-box-heading
          em
            i(class='fa fa-envelope blue')
          span Instant Messaging
        p Somethings are just better to write and send. With CloudKibo, use our chat messaging system to send your messages to your dear ones.
      div(class='col-md-4 col-sm-4')
        .service-box-heading
          em
            i(class='fa fa-users blue')
          span Video Conference
        p CloudKibo also allows you to invite multiple people to join the Web meeting without installing any complex software. All they need to do is visit a URL and join the meeting.
    //div(class='row quote-v1 margin-bottom-30')
      .col-md-9
        span
          | Make Your FREE Account Now!
      div(class='col-md-3 text-right')
        a(class='btn-transparent', href='#register')
          i(class='fa fa-check margin-right-10')
          | Sign up
    //div(class='row recent-work margin-bottom-40')
      .col-md-3
        h2 Diverse Platforms
        p With CloudKibo, you can connect from anywhere using any device. CloudKibo can be used on any device with Google Chrome installed. Moreover, CloudKibo also offers you to download native Android and IPhone Apps.
      .col-md-9
        div(class='owl-carousel owl-carousel3')
          .recent-work-item
            em
              img(src='/frontend/pages/img/works/img1.jpg', class='img-responsive')
            a(class='recent-work-description')
              strong Web App
              b On Tablet PC
          .recent-work-item
            em
              img(src='/frontend/pages/img/works/img5.jpg', class='img-responsive')
            a(class='recent-work-description')
              strong Android App
              b On Smart Phone
          .recent-work-item
            em
              img(src='/frontend/pages/img/works/img2.jpg', class='img-responsive')
            a(class='recent-work-description')
              strong Web App
              b On Desktop Computer
    // BEGIN STEPS
    .row.margin-bottom-40.front-steps-wrapper.front-steps-count-3
      .col-md-4.col-sm-4.front-step-col
        .front-step.front-step1
          h2 Create Room
          p It is as easy to make a conference room of your own as just giving it a name.
      .col-md-4.col-sm-4.front-step-col
        .front-step.front-step2
          h2 Invite People
          p You can easily invite people to join your meeting room by just sending them the conference room URL.
      .col-md-4.col-sm-4.front-step-col
        .front-step.front-step3
          h2 Start Video Conference
          p Once people join your room, CloudKibo Video Conference will begin providing you robust functionalities.
    // END STEPS
// BEGIN FOOTER
footer
