navbar
.main
  .container
    .col-md-12.col-sm-12
      .content-page
          sidebar 
          div(class="content col-md-9 col-sm-9")
            h1 How to Authenticate
            p  Your application first need to obtain a token containing ApplicationID and Secret Key from CloudKibo. Once authenticated,Application's front end or back end can request our services using a Rest API.
            
                     

footer
