div(class='sidebar col-md-2')
               ul(class='list-group margin-bottom-25 sidebar-menu')
                 li(class='list-group-item clearfix')
                   a(href='/solutionoverview')
                     i(class='fa fa-angle-right')
                     | Solution Overview
                 li(class='list-group-item clearfix')
                   a(href='/gettingstarted')
                     i(class='fa fa-angle-right')
                     | Getting Started
                 li(class='list-group-item clearfix')
                   a(href='/myaccount')
                     i(class='fa fa-angle-right')
                     | My account
                 li(class='list-group-item clearfix')
                   a(href='/howto')
                     i(class='fa fa-angle-right')
                     | How to Authenticate
                 li(class='list-group-item clearfix')
                   a(href='/restapi')
                     i(class='fa fa-angle-right')
                     | Rest API
                 li(class='list-group-item clearfix')
                   a(href='/samplecode')
                     i(class='fa fa-angle-right')
                     | Sample Code