navbar
.main
  .container
    .col-md-12.col-sm-12
      h1 About Us
      .content-page
        .row.margin-bottom-30
          // BEGIN INFO BLOCK
          .col-md-7
            h2.no-top-space
            p
              | CloudKibo is a next generation communication technology solution based on webRTC. It’s intuitive, cost effective, and rich with functionality. It can be used both for internal and external communications. It provides integrated and unified voice, video, and data communication across web. .Cloudkibo is based on modern Web technology like Nodejs, Angularjs, Socket.io, WebRTC etc, thus it is highly scalable. Also as most of the communication is Peer to Peer the need for a large and complex server platform is minimized resulting in a very cost effective solution.
            // BEGIN LISTS
            .row.front-lists-v1
              .col-md-6
                ul.list-unstyled.margin-bottom-20
                  li
                    i.fa.fa-check
                    | Video Call
                  li
                    i.fa.fa-check
                    | Video Conference call
                  li
                    i.fa.fa-check
                    | File Transfer
              .col-md-6
                ul.list-unstyled
                  li
                    i.fa.fa-check
                    | Screen Sharing
                  li
                    i.fa.fa-check
                    | Chat
                  li
                    i.fa.fa-check
                    | Audio
            // END LISTS
          // END INFO BLOCK
        .row.margin-bottom-40
footer
